<div class="container-fluid p-4" style="background-color: #0C2738;">
    <!-- Título de la página -->
    <section class="text-center py-5 title-font">
        <h1 class="display-4 text-uppercase title-font">Servicios</h1>
    </section>

    <!-- Texto de inicio -->
    <section class="text-center py-4">
        <h2 class="subtitle-font service-title">¿Listo para comenzar tu transformación?</h2>
        <!-- <p class="lead mt-4 service-text">Mi objetivo es satisfacer la necesidad primordial de las personas de ser bien
            percibidas al
            reconocerse, valorarse e identificarse cómo un ser único y extraordinario. Creo que al hacer brillar nuestra
            esencia, abrimos las puertas a un mundo de oportunidades para alcanzar todo aquello que nuestro corazón
            desea. Mi compromiso es el de ayudarte en este camino de transformación desde el interior hacia el exterior
            para que tengas una vida más plena y feliz.</p> -->
    </section>

    <section class="text-center py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 mb-4 service-card" *ngFor="let service of services"
                    (click)="navigateToService(service.path)">
                    <a [routerLink]="['/services', service.path]" class="text-decoration-none">
                        <div class="card text-white">
                            <div class="card-img-overlay d-flex align-items-center justify-content-center"
                                [style.background-image]="'url(' + service.image + ')'"
                                style="background-size: cover; height: 200px;">
                                <h5 class="card-title text-uppercase subtitle-font text-center">{{ service.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>