.cover-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: 50% 30%;
}

.card {
    height: 300px;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-title {
    padding: 10px;
    border-radius: 5px;
    font-size: 32px;
    color: #F2EBE6;
    transition: color 0.3s linear;
}

.card:hover .card-title {
    color: #BBC9D4;
}

.testimonial {
    margin-bottom: 30px;
}

.testimonial p {
    font-size: 18px;
    line-height: 1.5;
}

.service-card {
    cursor: pointer;
}

.see-all-services {
    text-decoration: none;
    color: #F2EBE6;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.see-all-services:hover {
    color: #BBC9D4;
}

.see-all-services i {
    margin-left: 5px;
}

.review-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 320px;
}

.review-card {
    background-color: #F2EBE6;
    color: #0C2738;
    border-radius: 15px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    height: 360px;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.main-review {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}

.side-review {
    transform: scale(0.9);
    opacity: 0.5;
    filter: blur(1px);
    z-index: 1;
}

.review-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 0.95rem;
}

.stars {
    color: gold;
}

.no-bg {
    background: none !important;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.no-bg:focus {
    outline: none;
}

@media (max-width: 768px) {
    .review-carousel {
        flex-wrap: nowrap;
    }

    .review-carousel>.mx-2 {
        display: none;
    }

    .review-carousel>.mx-2.main-review {
        display: block;
    }

    .main-review {
        transform: scale(1);
        opacity: 1;
        filter: none;
    }
}