<div class="container-fluid p-0" style="background-color: #0C2738;">
    <!-- Imagen de portada -->
    <section class="cover-image" style="background-image: url('assets/images/cover2.jpeg');">
    </section>

    <!-- Título centrado -->
    <section class="text-center py-5 title-font">
        <h1 class="display-4 text-uppercase">Consultoría en Imagen Pública</h1>
    </section>

    <!-- Cards centradas -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4 service-card" *ngFor="let service of principalServices"
                (click)="navigateToService(service.path)">
                <div class="card">
                    <img [src]="service.image" class="card-img" [alt]="service.title">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h5 class="card-title text-uppercase subtitle-font text-center">{{ service.title }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Link para ver todos los servicios -->
        <div class="text-end mt-2">
            <a class="see-all-services" (click)="navigateToAllServices()">Ver todos los servicios <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </section>

    <!-- Testimonios -->
    <section class="container py-5">
        <h2 class="text-center py-3">Testimonios</h2>
        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button *ngFor="let review of reviews; let i = index" type="button"
                    [attr.data-bs-target]="'#testimonialCarousel'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                    [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)"></button>
            </div>
            <div class="carousel-inner">
                <div *ngFor="let review of reviews; let i = index" class="carousel-item" [class.active]="i === 0">
                    <div class="testimonial">
                        <p>{{ review.content }}</p>
                        <p class="text-end">- {{ review.author }}, {{ review.age }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>