<div class="container-fluid p-0" style="background-color: #0C2738;">
    <!-- Imagen de portada -->
    <section class="cover-image" style="background-image: url('assets/images/cover2.jpeg');">
    </section>

    <!-- Título centrado -->
    <section class="text-center py-5 title-font">
        <h1 class="display-4 text-uppercase">Consultoría en Imagen Pública</h1>
    </section>

    <!-- Cards centradas -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4 service-card" *ngFor="let service of services"
                (click)="navigateToService(service.path)">
                <div class="card">
                    <img [src]="service.image" class="card-img" [alt]="service.title">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h5 class="card-title text-uppercase subtitle-font text-center">{{ service.title }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Link para ver todos los servicios -->
        <div class="text-end mt-2">
            <a class="see-all-services" (click)="navigateToAllServices()">Ver todos los servicios <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </section>

    <!-- Testimonios estilo carrusel -->
    <section class="container py-5">
        <h2 class="text-center py-3 title-font">Testimonios</h2>

        <div class="review-carousel">
            <div *ngFor="let review of visibleReviews; let i = index" class="mx-2" [ngClass]="{
        'main-review': i === 1,
        'side-review': i !== 1
      }">
                <div class="review-card shadow-sm">
                    <p>“{{ review.content }}”</p>
                    <p class="text-end fw-semibold mb-2">- {{ review.author }}
                    <div class="stars">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let j = index">
                            <i class="fas" [ngClass]="j < review.stars ? 'fa-star' : 'fa-star-o'"></i>
                        </ng-container>
                    </div>
                </div>
            </div>

            <button class="position-absolute top-50 start-0 translate-middle-y no-bg" (click)="prevSlide()">
                <i class="fas fa-chevron-left fa-2x text-light"></i>
            </button>
            <button class="position-absolute top-50 end-0 translate-middle-y no-bg" (click)="nextSlide()">
                <i class="fas fa-chevron-right fa-2x text-light"></i>
            </button>
        </div>
    </section>
</div>