.cover-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: 50% 30%;
}

.card {
    height: 300px;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-title {
    padding: 10px;
    border-radius: 5px;
    font-size: 32px;
    color: #F2EBE6;
    transition: color 0.3s linear;
}

.card:hover .card-title {
    color: #BBC9D4;
}

.testimonial {
    margin-bottom: 30px;
}

.testimonial p {
    font-size: 18px;
    line-height: 1.5;
}

.service-card {
    cursor: pointer;
}

.see-all-services {
    text-decoration: none;
    color: #F2EBE6;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.see-all-services:hover {
    color: #BBC9D4;
}

.see-all-services i {
    margin-left: 5px;
}