<header>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home">
                <img src="assets/images/logo2.png" class="logo" alt="Logo" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/services" routerLinkActive="active">Servicios</a>
                    </li>
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/workshops" routerLinkActive="active">Talleres</a>
                    </li>
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/ebooks" routerLinkActive="active">Ebooks</a>
                    </li>
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">Conóceme</a>
                    </li>
                    <li class="nav-item skip-bullet">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>