/* Asegúrate de que el main no tenga padding */
main {
    padding: 0 !important;
}

/* Haz el navbar completamente transparente */
nav {
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Asegúrate de que el logo y los enlaces sean visibles */
nav .logo {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    opacity: 1 !important;
    /* Asegúrate de que el logo sea completamente opaco */
}

nav .nav-link {
    margin: 0 15px;
    font-size: 20px;
    color: #9A9A9A;
    font-weight: bold;
    opacity: 1 !important;
    /* Asegúrate de que los enlaces sean completamente opacos */
    transition: color 0.3s ease;
}

nav .nav-link:hover {
    color: #ffffff;
    /* Color del texto al hacer hover */
}

/* Añadir margen superior al contenido para evitar que quede oculto detrás del navbar */
body {
    padding-top: 75px;
    /* Ajusta este valor según la altura de tu navbar */
}

footer {
    background-color: #343a40;
    /* Color oscuro para el fondo */
    color: white;
}

.subtitle-font {
    font-size: 1.5rem;
    /* Tamaño de fuente para los títulos */
}

footer .social-icons a {
    color: white;
    margin-right: 10px;
}

footer .social-icons a:hover {
    color: #007bff;
    /* Color al pasar el mouse */
}

footer p,
footer h2 {
    margin: 0;
    padding: 5px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col-md-4 {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}