<div class="container-fluid px-4" style="background-color: #0C2738; padding-top: 65px;">
    <!-- Imagen de portada -->
    <!-- <section class="cover-image" style="background-image: url('assets/images/victoria.png');">
    </section> -->

    <!-- Título CEO / FUNDADORA -->
    <section class="text-center py-3 title-font">
        <h1 class="title-font display-4 text-uppercase">Consultora en Imagen Pública</h1>
        <h2 class="subtitle-font">Victoria Amaro López</h2>
    </section>
    <!-- Sección de presentación -->
    <section class="container pb-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="assets/images/victoria.png" alt="Victoria Amaro López" class="img-fluid rounded">
            </div>
            <div class="d-flex align-items-center col-md-8 mb-4">
                <div>
                    <h2 class="subtitle-font">SOBRE MÍ</h2>
                    <p>Desde que tengo memoria, mi relación con el espejo ha sido un camino de altibajos. Durante años,
                        viví peleada con mi reflejo: luché con la inseguridad, la dismorfia corporal y la idea constante
                        de que debía cambiar algo en mí para encajar o sentirme suficiente.</p>
                    <p>Pero todo cambió cuando decidí dejar de mirar solo el exterior y comencé a conocerme desde
                        dentro. Al conectar con mi esencia, aceptar mi cuerpo y descubrir qué me hacía sentir auténtica
                        y cómoda, experimenté una libertad que nunca había sentido. Y con esa libertad, nació un
                        propósito: acompañar a otras personas a vivir esa misma transformación.</p>
                    <p>Hoy, como Consultora en Imagen Pública especializada en Imagen Personal, no busco que te
                        transformes en alguien diferente, sino ayudarte a reconocer y potenciar la mejor versión de
                        quien ya eres.</p>
                    <p>Quiero que tu imagen externa sea un reflejo coherente de tu crecimiento interior. Que tu estilo
                        te abrace, te sostenga y te recuerde todos los días quién eres y hacia dónde vas.</p>
                    <p>Ya sea a través de mis talleres, asesorías o e-books, mi misión es acompañarte a construir una
                        imagen que te haga sentir segura, auténtica y poderosa.</p>
                    <p><strong>Mándame WhatsApp</strong> para resolver tus dudas sobre mis servicios.</p>
                    <p>Gracias por estar aquí.</p>
                </div>
            </div>
        </div>
    </section>

</div>